body {
    margin: 0;
    background: lightblue;
    overflow: hidden;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.3fr 3fr;
}

.instructions {
    flex-direction: column;
    text-align: center;
    padding: 0 80px;

}

.instructions h1 {
    font-size: 50px;
    padding-top: 10px;
}

.instructions h2 {
    font-size: 35px;
    padding-top: 10px;
}

.instructions p {
    width: 400px;
    align-self: center;
    justify-self: center;
    text-align: left;
    font-size: 23px;
    padding-top: 20px;
}

@media (max-width: 800px) {
    .instructions p {
        font-size: 40px;
    }
}

#verticalButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    border: none;
    border-radius: 5px;
    padding: 5px 5px 7px 5px;
    margin: 2px;
    cursor: pointer;
    width: 100px;
    font-size: 40px;
}

button:hover {
    background: blue;
}

#networkCanvas {
    background: black;
}

#carCanvas {
    background: lightgray;
    margin-left: 50px;
}